:root{
  --g1: rgb(39, 33, 46);
  --g2: rgb(49, 53, 54);
}
#firstVal{
  color: rgb(207, 180, 243);
  font-size: 56px;
  position: absolute;
  top: 40%;
  right: 39%;
}
#secondVal{
  color: rgb(207, 180, 243);
  font-size: 56px;
  position: absolute;
  top: 40%;
  right: 59%;
}
#input{
  background-color: rgb(114, 113, 122);
  width: 240px;
  height: 60px;
  position: absolute;
  top: 50%;
  margin-left: auto;
  right: 55%;
  font-size:large;
  color:rgb(9, 10, 17);
  font-size: 32px;
}
#input::placeholder{
  font-size: 32px;
  color:rgb(9, 10, 17);
}
#output{
  background-color: rgb(114, 113, 122);
  width: 240px;
  height: 60px;
  position: absolute;
  top: 50%;
  margin-left: auto;
  right: 35%;
  color:rgb(9, 10, 17);
  font-size: 32px;
}
#output::placeholder{
  font-size: 32px;
  color:rgb(9, 10, 17);
}

@keyframes background-pan {
  from {
    background-position: -200% top;
  }
  
  to {
    background-position: 0% center;
  }
}
body {
    animation: background-pan 5s linear infinite;
    background: linear-gradient(
      to left,
      var(--g1),
      var(--g2),
      var(--g1)
    );
    background-size: 200%;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
  }